 body {
padding:0;
margin:0;
}
.container {
width:980px;
height:1386px;
}
.header {
height:63px;
position:relative;
width:100%;
}
.left0 {
width:110px;
height:61px;
background-color: #ff5151;
font:12px 黑体;
color:#fff;
float:left;
margin-left:44px;
}
.left0 span {
position: absolute;
bottom:4px;/*学习一下别人怎么实现置底的*/
}
.date0 {
position:absolute;
right:44px;
bottom:4px; 
font: 12px 黑体;
color:#d45d5c;
}
.header hr {
width:892px;
height:2px;
border:none;
border-top:2px solid #938e8c;
margin: auto;
}
.col1 {
width:892px;
height:301px;
position:relative;
left:44px;
}
.picture2 {
opacity: 0.3;
position:absolute;
top:0;
left:0;
}
.picture3 {
position:absolute;
left:235px;
}
.right1 {
position:absolute;
width:203px;
height:301px;
right:0;
bottom:0;
text-align:justify;
border:1px solid red;
}
.right1 hr {
width:203px;
height:2px;
border:none;
border-top:2px solid #cc8091;
}
.right1 .span1 {
text-decoration: underline;
font-size:24px;
font-family:"微软雅黑";
color:#000;
font-variant: small-caps;
}
.right1 .span2 {
font-family:"楷体";
font-size:12px;
color:#676767;
margin:0;
padding:0;
line-height:10px;
}
.right1 .span3 {
font-family:'微软雅黑';
font-size:116px;
color:#75b86b;
font-style:italic;
padding:0;
margin:0;
line-height:116px;
}
.right1 .span4 {
margin:0;
padding:0;
font-family:"微软雅黑";
color:#cc8091;
}
.span5 {
font-size:55px;
position:absolute;
left:0;
bottom: 0;
margin: 0;
padding: 0;
}
.span6 {
font-size:21px;
padding:0;
}
.span7 {
font-size:12px;
padding:0;
}
.col2 {
width:641px;
position:relative;
left:44px;
overflow: auto;
}
.what {
font:12px "宋体";
color:#767777;
line-height: 16px;
width: 40%;
float: left;
-webkit-box-sizing:border-box;
  -moz-box-sizing:border;
  box-sizing:border-box;
  text-align: justify;
  padding-right:30px;
}
.when,.how {
font: 12px "微软雅黑";
line-height: 16px;
width: 30%;
float: left;
color: #231815;
opacity: 0.7;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.when {
text-align: justify;
padding-right:30px;
}
.how {
  text-align:left;
}
.what span,.when span,.how span {
font:16px "微软雅黑";
font-weight: bold ;
text-decoration:underline;
}
.what span {
color: #418c59;
}
.when span {
color:#d2994f;
}
.how .span0 {
color: #cc7680;
}
.how .span1 {
font: 12px "微软雅黑";
font-style:italic;
color: #cd4a48;
}
.how div {
position:absolute;
left:70%;
bottom:0;
}
.col3 {
position:relative;
}
.left2 {
width:415px;
float: left;
margin-left:44px;
}
.left2 hr {
border:none;
border-top:2px solid #11456b;
width:415px;
}
.ltop {
text-transform:uppercase;
font-family:"黑体";
color: #11456b;
font-weight:bold;
line-height:33px;
}
.ltop .span1 {
color:#f5e327;
font-size:72px;
  font-style: italic;
}
.ltop .span2 {
font-size:42px;
}
.ltop .span3 {
font-size:33px;
}
.right2 {
width: 459px;
float:left;
margin-left:18px;
}
.lbottom {
text-align: justify;
font:12px "宋体";
line-height: 16px;
color:#767777;
text-indent:2em;
position: relative;
}
.lbottom p {
margin:0;
}
.jobs {
float:right;
margin: 20px 0 20px 20px;
}
.lbottom span {
font: 70px "微软雅黑";
color: #f5e327;
float:left;
}
.rtop {
  width: 458px;
  height:275px;      background:url("file:///f:/front/mission6.jpeg")no-repeat;
  position: relative;
  opacity:0.5;
}
.desc {
  width:458px;
  height:61px;
  position: absolute;
  left: 0;
  bottom: 0;
  line-height: 61px;
  opacity:1;
}
.desc .span1 {
  font:26px "微软雅黑";
  color:#f64733;
}
.desc .span2 {
  font: 12px "微软雅黑";
  color:#72b16a;
  font-style: italic;
  letter-spacing:0.4em;
}
.linebox {
  height:41px;
  width:0;
  border:1.5px solid #72b16a;
  float: left;
  margin: 8.5px 10px 8.5px 30px;
}
.rbottom {
width: 459px;
height:318px;
position: relative;
background-color: #fed;
}
.rbt {
  font-family: "宋体";
  line-height: 20px;
}
.rbt .span1 {
font-size:16px;
color:#5a5b5b;
text-align: left;
float: left;
margin-left: 30px;
}
.rbt .span2 {
  font-size:12px;
  color:#5a5b5b;
  font-style: italic;
  float: right;
  margin-right: 20px;
}
.rrbottom {
  width: 260px;
  height: 160px;
  background-color:  #ff5151;
  color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
}
.rrl {
  font:110px  "微软雅黑";
  display: inline-block;
  margin-right: 0;
  margin-top: 10px;
}
.rrr {
  display: inline-block;
  height:86px;
  border-left:2px solid #fff;
  padding-left: 6px;
}
.rrr .span1 {
  text-transform: uppercase;
  font: 21px "黑体";
  line-height: 24px;
  font-style: italic;
}
.rrr .span2 {
  font: 12px "黑体";
  line-height: 6px;
}
.rrb {
width: 160px;
position: absolute;
top:158px;
left: 260px;
}
.rrb p {
  font: 14px "黑体";
  vertical-align: text-bottom;
  color: #5a5b5b;
  font-style: italic;
  line-height:16px;
}
.footer {
overflow: auto;
width: 892px;
margin-left: 44px;
height: 61px;
margin-bottom: 61px;
}
.footer hr {
width: 892px;
height: 1px;
border:none;
border-top:1px solid #938e8c;
}
.footer p {
font: 12px "黑体";
color:#d45d5c;
  float: right;
}
.col1,.col2,.col3 {
margin-top:35px;
}
