
  body {                                      /*为什么没有实现头底宽度随浏览器窗口变化，和container居中*/
  font-family: "黑体";
  padding: 0;
  margin: 0;
  width:100%;
}
.header {
  background:url("header.png") 60px 5px no-repeat;
  min-width:1300px;
  height: 60px;
  line-height:60px;
  color: #686868;
}
.header span {
diplay:inline-block;
margin:0 0 0 115px;
font-size:20px;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0 30px 0 0;
  float: right;
}
li {
  float: right; 
}
li a {
  text-decoration: none;
  display: block;
  width:80px;
  margin: 0 15px; 
}

.container {
  width: 1300px;
padding:0;
margin:auto;
}
.bgpic {
  background: url("bigpicture.jpeg") no-repeat;
  width:1300px;
  height:663px;
  color: #fff;
  position: relative; 
  display:table-cell;
}
.bgpic .word {
  position:absolute;
  left: 80px;
  top:200px;
  vertical-align:middle;
}
.word button {
  background-color: #ff5151;
  color:#fff;
  font: 25px "黑体";
  width: 330px;
  height: 60px;
  border: none;
}

.col1 p{
  display: inline-block;
  width: 300px;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
  margin: 0px;
  border-right: 2px solid #c0c0c0;
  padding:0 75px 20px 75px;
  color:#808080;
  font-size:14px;
}
.col1 {
margin:50px auto;
}
.col11 {
margin-left:35px;   /*使col1居中*/
}
.col11,.col12,.col13,.col14 {
display: inline-block;
width:300px;
text-align: center;
}

.col21 {
      background-color: #eee;
      height:300px;
      font-size:52px;
      color:#aaa;
    }
   .col21 td {
     height:300px;
    text-align:center;
   }
    .col21 table {
      margin: auto;
    }
    .col22 {
    background: url("col22.jpg") no-repeat;
    width:1300px;
    height:300px;
    text-align: center;
	color:#000;
	padding:40px;
    }
    .col22 select {
    width: 200px;
    height: 35px;
    color:#aaa;
    border:none; 
    margin: 20px;
    }
    .col22 button {
      width: 200px;
      height: 35px;
      border: none;
      background-color: #ff5151;
      margin: 20px;
      color: #fff;
      font-weight: bold;
    }
	
	 .col3 {
    width: 1300px;
    background-color: #efefef;
	overflow:auto;
    }
    .img img {
    border:1px solid #a0a0a0;
    padding: 4px;
    }
    .col3 .img {
    width: 190px;
    float:left;
	margin: 20px;
    text-align: center;/*justify为啥不行*/
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
    }
    .col3 .p1 {
    font-size: 16px;
    }
    .col3 .p2 {
    font-size: 14px;
    color: #a0a0a0;
    }
	.imgwrap {
	width:920px; /*必须要指定宽度吗，即使这个宽度其实是固定的，可根据计算得到*/
	height:350px;
	margin:100px auto;
	}
	
	.col4 {
    width: 1300px;
    height: 527px;
    padding: 0;
    }
    .col4 .left {
    background:url("col4.jpg") no-repeat;
    width:800px;
    height: 527px;
	float:left;
    margin: 0;
	color:#fff;
    }
	.col4 .left td{
	 height:527px;
	 width:800px;
	 text-align:center;
	}
    .col4 .right {
    width: 450px;
    height: 527px;
    float:left;
    margin: 0;
    }
.col4 .p1 {
font-size:50px;
}
.col4 .p2 {
font-size:170px;
}
.col4 .p3 {
font-size:20px;
}

.col4 .right p {
font-size:12px;
color:#b0b0b0;
line-height:25px;
}
.col4 .right button {
border:1px solid #ff5151;
background-color:#fff;
color:#ff5151;
text-align:center;
padding:5px;
width:80px;
}
.col4 td {
height:527px;
text-align:center;
padding:80px;
  -webkit-box-sizing:border-box;
      -moz-box-sizing:border-box;
      box-sizing:border-box;
}

.col5 {
height:480px;
}
.col5 .left {
position:relative;
background-color:#ff5151;
color:#fff;
font-size:20px;            /*用display:table-cell;vertical-align:middle;不能垂直居中因为float默认显示为块*/
text-align:center;
width:430px;
height:480px;
line-height:25px;
float:left;
}
.newtime {
position:absolute;
top:180px;
left:120px;
}
.col5 .left hr {
width:25px;
border:1px solid #fff;
}
.col5 .left button {
width:150px;
text-align:center;
background-color:#ff5151;
color:#fff;
border:1px solid #fff;
padding:5px;
font-size:20px;
}
.col5 .middle {
line-height:25px;
font-size:20px;
display:table-cell;
vertical-align:middle;
width:440px;
margin-left:430px;
margin-right:430px;
text-align:center;
height:480px;
}
.col5 .middle hr {
width:25px;
border:1px solid #a0a0a0;
}
.col5 .middle button {
width:150px;
text-align:center;
background-color:#fff;
color:#ff5151;
border:1px solid #ff5151;
padding:5px;
font-size:20px;
}
.col5 .right {
float:right;
}
.col6 {
margin:150px auto;
}
.col6 .top {
text-align:center;
}
.col6 .top span {
font-size:14px;
color:#c0c0c0;
}
.col6 .left {
position:absolute;
left:0;
top:0;
width:350px;
text-align:left;
}
.col6 .left span {
position:absolute;
right:0;
color:#c0c0c0;
font-size:12px;
}
.col6 h4 {
color:#808080;
}
.col6 .left p {
font-size:10px;
line-height:20px;
color:#c0c0c0;
}
.col6 hr {
width:30px;
border:1px solid #ff5151;
}
.col6 .right {
position:absolute;
top:0;
right:0;
width:620px;
}
.col6 input,.col6 textarea {
background-color:#f0f0f0;
color:#808080;
margin:10px;
font-size:12px;
border:none;
padding:12px;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
}
.col6 form {
position:relative;
width:660px;
}
.col6 input {
width:300px;
height:40px;
}
.col6 input1 {                 /*为什么右边和下面textarea始终不能对齐*/
position:absolute;
top:0;
left:10px;
}
.col6 input2 {
position:absolute;
top:0;
left:340px;
}
.col6 input3 {
position:absolute;
top:60px;
left:10px;
}
.col6 input4 {
position:absolute;
top:60px;
left:340px;
}
.col6 .submit {
width:640px;
height:40px;
text-align:center;
color:#000;
font-size:14px;
font-weight:bold;
}
.col6 textarea {
width:640px;
height:120px;
}
.col6 .wrap {
width:1050px;
height:330px;
position:relative;
margin:auto;
}

.footercol {
min-width:1300px;
color:#fff;
background-color:#333;
}
.footercol td {                /*为什么周围始终有一圈白色*/
height:400px;
text-align:center;
color:#fff;
background-color:#333;
min-width:1300px;
}
.footercol p{
font-size:12px;
}
.footercol .input1 {
width:400px;
height:40px;
background-color:#fff;
color:#c0c0c0;
font-size:10px;
padding:12px;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
border:none;
}
.footercol .input2 {
width:80px;
height:40px;
background-color:#c0c0c0;
color:#fff;
font-size:14px;
font-weight:bold;
padding:10px;
text-align:center;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
border:none;
}
.footercol .bottom {
background-color:#222;
color:#fff;
height:60px;
font-size:12px;
position:relative;
}
.footercol .bottom .span1 {
position:absolute;
left:100px;
top:25px;
}
.footercol .bottom .span2 {
position:absolute;
top:25px;
right:40px;
}
